replicaCount: 1

image:
  repository: public.ecr.aws/aws-containers/retail-store-sample-ui
  pullPolicy: IfNotPresent
  tag: "1.2.2"

imagePullSecrets: []

nameOverride: ""
fullnameOverride: "ui"

serviceAccount:
  create: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 128m
    memory: 256Mi

autoscaling:
  enabled: false

metrics:
  enabled: false

configMap:
  create: true

app:
  endpoints:
    catalog: http://catalog:80
    carts: http://carts:80
    checkout: http://checkout:80
    orders: http://orders:80

ingress:
  enabled: false

ingresses: []

certManager:
  createClusterIssuer: false

istio:
  enabled: false

opentelemetry:
  enabled: false

podDisruptionBudget:
  enabled: false
